[submodule "src/main/scala/perfect"]
	path = src/main/scala/perfect
	url = git@github.ibm.com:perfect/perfect-chisel
[submodule "tests"]
	path = tests
	url = git@github.ibm.com:perfect/le-chiffre-tests
