[submodule "src/main/scala/perfect"]
	path = src/main/scala/perfect
	url = git@github.com:ibm/perfect-chisel
[submodule "util/hdl-tools"]
	path = util/hdl-tools
	url = git@github.com:ibm/hdl-tools
[submodule "util/fault-injection"]
	path = util/instrumentation
	url = ../fault-injection
[submodule "tests/rocc-software"]
	path = tests/rocc-software
	url = git@github.com:ibm/rocc-software
