[submodule "src/main/scala/perfect"]
	path = src/main/scala/perfect
	url = https://github.com/ibm/perfect-chisel
[submodule "tests/rocc-software"]
	path = tests/rocc-software
	url = https://github.com/ibm/rocc-software
